[submodule "lib/SimpleFOC"]
	path = lib/SimpleFOC
	url = https://github.com/simplefoc/Arduino-FOC.git
[submodule "lib/Seeed_Arduino_CAN"]
	path = lib/Seeed_Arduino_CAN
	url = git@github.com:Seeed-Studio/Seeed_Arduino_CAN.git
[submodule "lib/can-common"]
	path = lib/can-common
	url = git@github.com:supermileage/can-common.git
